<ul class="social-icons">
	<li class="social-icons"><a href="http://twitter.com/share?url={{ .Permalink }}&text={{ .Title }}%20" target="_blank" class="social-icons"><i class="fa fa-twitter fa-lg"></i></a></li>
	<li class="social-icons"><a href="http://www.facebook.com/sharer.php?u={{ .Permalink }}" class="social-icons" target="_blank"><i class="fa fa-facebook fa-lg"></i></a></li>
	<li class="social-icons"><a href="http://reddit.com/submit?url={{ .Permalink }}&amp;title={{ .Title }}" class="social-icons" target="_blank"><i class="fa fa-reddit-alien fa-lg"></i></a></li>
	<li class="social-icons"><a href="https://news.ycombinator.com/submitlink?u={{ .Permalink }}&amp;t={{ .Title }}" class="social-icons" target="_blank"><i class="fa fa-hacker-news fa-lg"></i></a></li>
	<li class="social-icons"><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ .Permalink }}&amp;title={{ .Title }}" class="social-icons" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a></li>
	<li class="social-icons"><a href="https://plus.google.com/share?url={{ .Permalink }}" class="social-icons" target="_blank"><i class="fa fa-google-plus fa-lg"></i></a></li>
	<li class="social-icons"><a href="mailto:?Subject={{ .Title }}&amp;Body={{ .Permalink }}" class="social-icons" target="_blank"><i class="fa fa-envelope-o fa-lg"></i></a></li>
</ul>